head
    link(rel="stylesheet", href="styles.css", data-inline)
div(class='logo')
    img(src="logo_full_small.png")
table
    each job in jobs
        tr
            td
                img(src=job.company.imageUrl)
            td
                p(class='title') #{job.title}
