@import "../styles/common";
@import "../styles/markdown";
@import "../styles/variables";

.job-post {
}

.job-post-header {
  border-top: $border-default;
  display: flex;

  &:hover {
    background-color: $white-bis;
    cursor: pointer;
  }
}

.job-post-extension {
  display: none;
  padding: $size-7;
  &.open {
    display: block;
  }
}

.job-post-image {
  width: 80px;
  height: 80px;
}

.job-post-image img {
  border-radius: $radius;
  width: 80px;
  height: 80px;
}

.job-post-body {
  margin-left: $size-7;
  flex-grow: 1;
}

.job-post-body-more-info {
  margin: 4px 0 5px 0;
}

.job-post-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .tags {
    margin: 0 !important;
    .tag {
      margin-bottom: 0;
      text-transform: uppercase;
      .fas,
      .far {
        margin-left: 5px;
      }
      &.is-white {
        border: 1px solid $grey-light;
      }
    }
  }
}

.job-post-tags .left {
}

.job-post-tags .right {
}
