@import "../styles/variables";

.mini-hero {
  .company-name {
    font-family: "Fredoka One", cursive;
  }
  .social-media {
    display: flex;
    flex-direction: row;
  }
  .social-media-box {
    text-align: center;
    width: 50%;
    margin-top: $size-6;
    margin-right: $column-gap;
    margin-left: $column-gap;
    border-radius: $radius;
    padding: 4px;
    font-weight: bold;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }

    &.reddit {
      border: 1px solid $red;
      color: $red;
    }
    &.twitter {
      border: 1px solid $blue;
      color: $blue;
    }

    &:hover {
      background-color: $white;
    }
  }
}
