@import "../styles/variables";

.banner-wrapper {
  margin-bottom: $size-4;
}

.banner {
  background-color: $white;
  border-radius: $radius;
  margin-bottom: $size-5;

  .banner-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;

    .banner-title {
      font-weight: bold;
    }

    .fab,
    .fas,
    .fa {
      font-size: 40px;
      margin: $size-5 $size-6;
    }
  }

  .tag-search-box {
    padding: $size-6;
    > div {
      position: relative;
    }
  }
}
