@import "./bulma-theme";

$border-default: 1px solid $border;

html,
body {
  min-height: 100%;
}

body {
  background-color: $white-ter;
}

.box-transparent {
  margin-bottom: $column-gap * 2;
}

.box-default {
  @extend .box-transparent;
  background-color: $white;
  border-radius: $radius;
}

.box-default-header {
  padding: $size-6 $size-7;
}
