@import "variables";

html,
body {
  min-height: 100%;
}

.fa-space {
  padding-right: $size-8;
}

body {
  background-color: $white-ter;
}

.box-transparent {
  margin-bottom: $column-gap;
}

.box-white {
  @extend .box-transparent;
  background-color: $white;
  border-radius: $radius;
}

.box-white-header {
  padding: $size-6 $size-5;
}

.box-white-content {
  padding: $size-4 $size-5;
}

.tag-box {
  .box-white-header {
    padding-bottom: 0;
  }

  .tag {
    border: 1px solid #b5b5b5;
    text-transform: uppercase;

    &:first-child {
      border-right: 0;
    }
  }
}

.header {
  background-color: $white;
  border-radius: $radius;
  margin-bottom: $column-gap;

  .banner-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-top: $size-5;
    &.p-bottom {
      @media screen and (max-width: $tablet) {
        padding-bottom: 0;
        flex-direction: column;
      }
      padding-bottom: $size-5;
    }

    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }

    .title-tag-icon {
      @media screen and (max-width: $tablet) {
        margin: $size-5 0 0 0;
      }
      margin: 0 $size-6 / 2;
    }

    .banner-title {
      @media screen and (max-width: $tablet) {
        margin: $size-7 $size-5 $size-6;
      }
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 $size-6 / 2;
      font-weight: bold;

      .title-tag {
        padding: 0 $size-7;
        border-radius: $radius;
        text-decoration: underline;
      }

      .title-tag-icon {
        display: block;
      }
    }

    // icon
    .fab,
    .fas,
    .fa {
      font-size: 40px;
    }

    // company image
    .image {
      width: 40px;
      height: 40px;
      margin: 0 $size-6 / 2;
      @media screen and (max-width: $tablet) {
        width: 80px;
        height: 80px;
      }
      border-radius: $radius;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        border-radius: $radius;
      }
    }

    .loading {
      color: $grey-lighter;
    }

    &.clickable {
      cursor: pointer;
    }
  }

  .search-box {
    .tag-search-box {
      padding: $size-6 $size-6 0 $size-6;

      > div {
        position: relative;
      }

      .field {
        margin: 0;
      }
    }

    .show-more-filters-wrapper {
      .show-more-filters {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        padding-bottom: $size-7;

        .fas {
          margin-right: $size-8;
        }

        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */

        /* Rules below not implemented in browsers yet */
        user-select: none;

        .more {
          color: $primary;
        }

        .less {
          color: $red;
        }
      }

      .filter-box-wrapper {
        padding: $size-6 $size-6 0;

        .buttons-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;
          flex-wrap: wrap;

          a.button {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin: 0 $size-8 $size-6 $size-8;
          }
        }
      }
    }

    .notification {
      margin-top: $size-6;
    }
  }
}

.checkbox {
  display: block;
  padding: $size-9 0;

  input[type="checkbox"] {
    display: none;
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 30px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    user-select: none;
  }

  label::before,
  label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
  }

  /*Outer box of the fake checkbox*/
  label::before {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: $radius;

    border: 1px solid;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
  }

  /*Checkmark of the fake checkbox*/
  label::after {
    height: 8px;
    width: 14px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);

    left: 4px;
    top: 4px;
  }

  /*Hide the checkmark by default*/
  input[type="checkbox"] + label::after {
    content: none;
  }

  /*Unhide on the checked state*/
  input[type="checkbox"]:checked + label::after {
    content: "";
  }

  /*Adding focus styles on the outer-box of the fake checkbox*/
  input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }
}

footer.footer {
  margin-top: $size-4;
}

.loading-box {
  padding: $size-9 $size-6;

  i {
    margin-right: $size-9;
  }
}

.not-found-list {
  ul {
    li {
      list-style: disc inside;
    }
  }
}
