@import "variables";

html,
body {
  min-height: 100%;
}

.fa-space {
  padding-right: $size-8;
}

body {
  background-color: $white-ter;
}

.box-transparent {
  margin-bottom: $column-gap;
}

.box-white {
  @extend .box-transparent;
  background-color: $white;
  border-radius: $radius;
}

.box-white-header {
  padding: $size-6 $size-5;
}

.box-white-content {
  padding: $size-4 $size-5;
}

.tag-box {
  .box-white-header {
    padding-bottom: 0;
  }

  .tag {
    border: 1px solid #b5b5b5;
    text-transform: uppercase;

    &:first-child {
      border-right: 0;
    }
  }
}

.header {
  background-color: $white;
  border-radius: $radius;
  margin-bottom: $column-gap;

  .banner-header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-top: $size-5;

    @media screen and (max-width: $tablet) {
      flex-direction: column;
    }

    .title-tag-icon {
      @media screen and (max-width: $tablet) {
        margin: $size-5 0 0 0;
      }
      margin: 0 $size-6 / 2;
    }

    .banner-title {
      @media screen and (max-width: $tablet) {
        margin: $size-7 $size-5 $size-6;
      }
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin: 0 $size-6 / 2;
      font-weight: bold;

      .title-tag {
        padding: 0 $size-7;
        border-radius: $radius;
        text-decoration: underline;
      }

      .title-tag-icon {
        display: block;
      }
    }

    .fab,
    .fas,
    .fa {
      font-size: 40px;
    }

    cursor: pointer;
  }

  .search-box {
    .tag-search-box {
      padding: $size-6 $size-6 0 $size-6;

      > div {
        position: relative;
      }

      .field {
        margin: 0;
      }
    }

    .show-more-filters-wrapper {
      .show-more-filters {
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        padding-bottom: $size-7;

        .fas {
          margin-right: $size-8;
        }

        -webkit-user-select: none; /* Chrome/Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* IE10+ */

        /* Rules below not implemented in browsers yet */
        user-select: none;
      }

      .filter-box-wrapper {
        padding: $size-6;

        .buttons-wrapper {
          display: flex;
          flex-direction: row;
          justify-content: center;

          a.button {
            margin: 0 $size-8;

            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
            opacity: 0.6;

            &.active {
              filter: none;
              opacity: 1;
            }
          }
        }
      }

      .advanced-filter-box-wrapper {
        .filter-box {
          padding: 0 $size-5;

          .filter-box-title {
            font-weight: bold;
            padding-bottom: $size-9;
          }

          .checkbox-list {
          }
        }

        .button-bar {
          display: flex;
          flex-direction: row;
          justify-content: center;
          padding-bottom: $size-6;

          .fas {
            padding-right: $size-8;
          }
        }
      }
    }
  }
}

.checkbox {
  display: block;
  padding: $size-9 0;

  input[type="checkbox"] {
    display: none;
  }

  label {
    cursor: pointer;
    position: relative;
    display: block;

    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    padding-left: 30px;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    user-select: none;
  }

  label::before,
  label::after {
    position: absolute;
    content: "";

    /*Needed for the line-height to take effect*/
    display: inline-block;
  }

  /*Outer box of the fake checkbox*/
  label::before {
    cursor: pointer;
    height: 20px;
    width: 20px;
    border-radius: $radius;

    border: 1px solid;
    left: 0px;

    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
  }

  /*Checkmark of the fake checkbox*/
  label::after {
    height: 8px;
    width: 14px;
    border-left: 2px solid;
    border-bottom: 2px solid;

    transform: rotate(-45deg);

    left: 4px;
    top: 4px;
  }

  /*Hide the checkmark by default*/
  input[type="checkbox"] + label::after {
    content: none;
  }

  /*Unhide on the checked state*/
  input[type="checkbox"]:checked + label::after {
    content: "";
  }

  /*Adding focus styles on the outer-box of the fake checkbox*/
  input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
  }
}

footer.footer {
  margin-top: $size-4;
}
