@import "variables";

.job-post {
  list-style: none;

  .job-post-header {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;

    border-top: $border-default;

    a {
      color: $black;
    }

    .job-title {
      margin-top: $size-6;

      a:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      background-color: $white-bis;
      cursor: pointer;
    }
  }
}

.job-post-tags {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: $size-8;
  margin-bottom: -$size-8;

  .tags {
    margin: 0 !important;

    .tag {
      margin-right: $size-8;
      margin-bottom: $size-8;
      text-transform: uppercase;
      text-decoration: none;

      .fas,
      .far {
        margin-left: 5px;
      }

      &.is-white {
        border: 1px solid $grey-light;
      }

      &:hover {
        background-color: $white-ter;
      }
    }
  }
}

.job-info {
  margin-top: $size-8;
  margin-bottom: -$size-8;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 0.9em;
  color: $grey-dark;

  .info-block {
    margin-right: $size-8;
    margin-bottom: $size-8;

    &.salary {
      color: #5fba7d;
    }

    &.not-available {
      color: $red;
    }
  }
}

.company-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.9em;
  color: $grey;

  .job-post-image {
    img {
      object-fit: contain;
    }
  }

  .a-wrapper {
    display: flex;
    flex-direction: row;
    $company-header-image-size: 20px;

    :hover {
      text-decoration: underline;
    }

    .job-post-image {
      margin-right: $size-8;
      width: $company-header-image-size;
      height: $company-header-image-size;
    }

    .job-post-image img {
      border-radius: $radius;
      width: $company-header-image-size;
      height: $company-header-image-size;
    }

    .company-name {
      font-weight: bold;
      margin-right: $size-8;
      white-space: nowrap;
    }
  }

  .post-info {
    white-space: nowrap;
  }
}

.job-post-extension {
  display: none;

  &.open {
    display: block;
  }
}

.job-apply {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: $white-bis;
  border-radius: $radius;
  padding: $size-7 0;
}

.job-description {
  margin-bottom: $size-5;
}

.job-post-body-more-info {
  margin: 4px 0 5px 0;
}

.job-view {
  .job-view-header {
    .title {
      margin-top: $size-8;
      margin-bottom: 1rem;
    }
  }

  padding-bottom: $size-3;

  .job-apply {
    margin-top: $size-5;
  }
}
