@import "~bulma/sass/utilities/initial-variables";

$size-8: 0.5rem;
$size-9: 0.25rem;

$footer-background-color: $white-ter;
$primary: $cyan;
$desktop: 900px;
$fullhd-enabled: false;
$widescreen-enabled: false;
$column-gap: 0.75rem !default;
$border-default: 1px solid $grey-lighter;
$navbar-background-color: $white-ter;
